# Eddy Zhang / trtin1

## Research question/interestsI'm interested in whether there's a correlation between a developer's educational background and salary or whether their industrial or experience has a greater impact on their salary. I'd also like to find out if developers with different educational backgrounds prefer certain resources to reach for help when they are stuck on a problem.e.

In [1]:
import numpy as np
import pandas as pd
import project_functions2 as p2
import seaborn as sns
import matplotlib.pylab as plt

In [2]:
df2021 = pd.read_csv('../data/raw/survey_results_public_2021.csv')

In [3]:
df2021.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [4]:
df2021.tail()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [5]:
print(f"Column names in the dataframe: {df2021.columns}")

Column names in the dataframe: Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

## Milestone 3

In [9]:
#Clean Dataset by removing irrelevent columns and N/A values from Edlevel, LearnCOde, ConvertedCompYearly and Employment
df2021Cleaned = p2.load_and_process('../data/raw/survey_results_public_2021.csv') 
df2021Cleaned.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,CompTotal,CompFreq,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,ConvertedCompYearly
0,24044,I am a developer by profession,Employed full-time,France,NaN,NaN,"Associate degree (A.A., A.S., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,...,4000.0,Monthly,35-44 years old,"Non-binary, genderqueer, or gender non-conforming",No,Queer,White or of European descent,None of the above,I have autism / an autism spectrum disorder (e...,51888.0
1,19770,I am a developer by profession,Employed full-time,United States of America,Arizona,NaN,"Associate degree (A.A., A.S., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,100000.0,Yearly,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,None of the above,100000.0
2,52246,I am a developer by profession,Employed full-time,United States of America,Vermont,NaN,"Associate degree (A.A., A.S., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",14,...,135000.0,Yearly,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,135000.0
3,14635,I am a developer by profession,Employed full-time,China,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,10,...,15000.0,Yearly,25-34 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,2143.0
4,3549,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Associate degree (A.A., A.S., etc.)",11 - 17 years,Online Forum;Friend or family member,15,...,75000.0,Yearly,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Multiracial;Hispa...,None of the above,None of the above,81074.0