# Eddy Zhang / trtin1

## Research question/interestsI'm interested in whether there's a correlation between a developer's educational background and salary or whether their industrial or experience has a greater impact on their salary. I'd also like to find out if developers with different educational backgrounds prefer certain resources to reach for help when they are stuck on a problem.e.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df2021 = pd.read_csv('../data/raw/survey_results_public_2021.csv')

In [3]:
df2021.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07