# Tanner Bjorgan

## Research question/interests
I would like to see what languages are used the most/in high demand in this industry or what languages are needed to get into more niche careers.

In [1]:
import pandas as pd
import numpy as np

## **Milestone 2**

In [29]:
df2021 = pd.read_csv('../data/raw/survey_results_public_2021.csv')

In [30]:
df2021.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [4]:
df2021.tail()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

## **Milestone 3**
### **Task1** : EDA

In [2]:
import seaborn as sns
import matplotlib.pylab as plt
import project_functions3 as p3
from collections import Counter

Displaying the unprossed data from the dataset to better understand the data and to know what needs to be cleaned.

In [3]:
dfU2021 = p3.loadU('../data/raw/survey_results_public_2021.csv')
dfU2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

Found 83439 entries in 9 columns and shows null values in each column

In [73]:
print(f"List of the columns found: {dfU2021.columns}")

List of the columns found: Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [76]:
print(f"Number of unique values per column: {dfU2021.nunique(axis=0)}")

Number of unique values per column: ResponseId                      83439
MainBranch                          6
Employment                          9
Country                           181
US_State                           55
UK_Country                          4
EdLevel                             9
Age1stCode                          9
LearnCode                         458
YearsCode                          52
YearsCodePro                       52
DevType                          8626
OrgSize                            10
Currency                          146
CompTotal                        3752
CompFreq                            3
LanguageHaveWorkedWith          28690
LanguageWantToWorkWith          27545
DatabaseHaveWorkedWith           3072
DatabaseWantToWorkWith           3137
PlatformHaveWorkedWith            118
PlatformWantToWorkWith            126
WebframeHaveWorkedWith           5402
WebframeWantToWorkWith           5113
MiscTechHaveWorkedWith           1387
MiscTechWantToWorkWith           1684
ToolsTechHaveWorkedWith           902
ToolsTechWantToWorkWith          1403
NEWCollabToolsHaveWorkedWith    12100
NEWCollabToolsWantToWorkWith     7026
OpSys                               6
NEWStuck                         1279
NEWSOSites                          8
SOVisitFreq                         5
SOAccount                           3
SOPartFreq                          6
SOComm                              6
NEWOtherComms                       2
Age                                 8
Gender                             16
Trans                               4
Sexuality                          30
Ethnicity                         372
Accessibility                      31
MentalHealth                       33
SurveyLength                        3
SurveyEase                          3
ConvertedCompYearly              8735
dtype: int64

In [81]:
print(f"Unique developper types: {dfU2021.DevType.unique()} ")

Unique developper types: ['Developer, mobile' nan 'Developer, front-end' ...
 'Developer, mobile;Developer, front-end;Developer, full-stack;Developer, back-end;Database administrator;Developer, embedded applications or devices;System administrator;Educator'
 'Developer, front-end;Developer, desktop or enterprise applications;Developer, full-stack;Developer, back-end;Developer, QA or test;Developer, embedded applications or devices;Engineering manager;Educator'
 'Developer, mobile;Developer, desktop or enterprise applications;Data scientist or machine learning specialist;Developer, back-end;Engineering manager']

In [83]:
dfU2021['LanguageHaveWorkedWith'].describe()

count      82357
unique     28690
top       Python
freq        1337
Name: LanguageHaveWorkedWith, dtype: object

In [84]:
dfU2021.describe().round()

       ResponseId     CompTotal  ConvertedCompYearly
count     83439.0  4.718300e+04              46844.0
mean      41720.0  2.119407e+69             118426.0
std       24087.0  4.603702e+71             527294.0
min           1.0  0.000000e+00                  1.0
25%       20860.0  1.600000e+04              27025.0
50%       41720.0  6.700000e+04              56211.0
75%       62580.0  1.400000e+05             100000.0
max       83439.0  1.000000e+74           45241312.0

## **Task2:** 
#### Cleaned data

In [3]:
dfP = p3.load_and_process('../data/raw/survey_results_public_2021.csv')
print(f"New data frame after cleaning data: {dfP.columns}")

New data frame after cleaning data: Index(['ResponseId', 'MainBranch', 'Employment', 'EdLevel', 'DevType',
       'LanguageHaveWorkedWith', 'DatabaseHaveWorkedWith',
       'PlatformHaveWorkedWith', 'WebframeHaveWorkedWith',
       'MiscTechHaveWorkedWith', 'ToolsTechHaveWorkedWith',
       'NEWCollabToolsHaveWorkedWith', 'ConvertedCompYearly'],
      dtype='object')

In [4]:
count = Counter()
for i, row in dfP.iterrows():
    rows = str(row['LanguageHaveWorkedWith'])
    listr = rows.split(";")
    for prog in listr:
            count[prog] += 1
dfLang = pd.DataFrame.from_dict(count, orient = 'index', columns = ['Number of people'])
print("Number of people who used the different languages: ")
dfLang.index.name = "Languages"
dfLang

Number of people who used the different languages:

             Number of people
Languages
C++                     20057
HTML/CSS                46259
JavaScript              53587
Objective-C              2310
PHP                     18130
Swift                    4204
Python                  39792
Assembly                 4632
C                       17329
R                        4185
Rust                     5799
TypeScript              24909
Bash/Shell              22385
SQL                     38835
C#                      22984
Java                    29162
Node.js                 27975
PowerShell               8871
Ruby                     5569
Perl                     2028
Matlab                   3846
Kotlin                   6866
Julia                    1068
Haskell                  1749
Delphi                   1731
Go                       7879
Scala                    2148
Dart                     4965
nan                      1082
VBA                      3847
Groovy                   2479
Clojure                  1552
APL                       536
LISP                     1096
F#                        804
Elixir                   1438
Erlang                    651
Crystal                   466
COBOL                     437

## **Visual representation of most and least used languages**

In [124]:
top10 = dfLang.nlargest(10, 'Number of people')
bottom10 = dfLang.nsmallest(10, 'Number of people')

In [129]:
top10

            Number of people
Languages
JavaScript             53587
HTML/CSS               46259
Python                 39792
SQL                    38835
Java                   29162
Node.js                27975
TypeScript             24909
C#                     22984
Bash/Shell             22385
C++                    20057

In [130]:
bottom10

           Number of people
Languages
COBOL                   437
Crystal                 466
APL                     536
Erlang                  651
F#                      804
Julia                  1068
nan                    1082
LISP                   1096
Elixir                 1438
Clojure                1552

# **Task4:** 
### Analysis